body {
    font-family: 'Roboto Condensed', sans-serif;
}

#heading {
    background-color: #191970;
}

#heading *{
    background-color: #191970;
    color: white;
    margin-right: 10px;
    margin-left: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    border: none;
}

#heading select {
    font-size: 24px;
}

#titleDiv {
    margin-left: 680px;
}

#titleDiv *{
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
}

#chartTitle {
    text-align: center;
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

.chart rect {
  fill: #191970;
}

.chart text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.axis text {
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
